In [1]:
#Ans1: Min Max Scaling is used to scaled the numerical data into range between 0 and 1.
#Its application is performs a linear transformation on the original data .

In [2]:
#Ans2:Unit vector is nothing but its magnitude is 1 and its formula is A(cap)=A(vector)/|A|.
#Its application is Scaling is done considering the whole feature vector to be of unit length.

In [3]:
#Ans3:PCA is nothing but Principal component anallysis which is used to reduce the dimension .When the feature is correlate with the others so we are ignore the dimension which is correlate the others by using the pca .
#Example is Date and Day is the feature of any dataset so we can delete the feature of Day which is correlate to Date .

In [4]:
#Ans4:PCA is the technique of Feature Extraction .PCA is nothing but Principal component anallysis which is used to reduce the dimension .When the feature is correlate with the others so we are ignore the dimension which is correlate the others by using the pca .
#Example is Date and Day is the feature of any dataset so we can delete the feature of Day which is correlate to Date .this is the example of Feature Extraction

In [5]:
#ANs5:Here we have the features of  price ,rafting and the delivery time of recommendation system .Firstly we have the find maximum value and the minimum value of the features and then apply the formula x-xmin/xmax-xmin.then the scale the data between the 0 and 1 and then store the scale data  into new valriable and then the delete the orginial fetaure .

In [6]:
#Ans6:If we have the features of dataset which is company and financial data  and  then select the feature which is most important whcih is give the unique information

In [7]:
#Ans7:
a=[1,5,10,15,20]
import pandas as pd

In [8]:
pd.DataFrame(a)

    0
0   1
1   5
2  10
3  15
4  20

In [18]:
# X_scaled = (1 - 1) / (20 - 1) * (1 - (-1)) + (-1)
# = 0 / 19 * 2 - 1
# = -1

# For the value 5:
# X_scaled = (5 - 1) / (20 - 1) * (1 - (-1)) + (-1)
# = 4 / 19 * 2 - 1
# = -0.7368

# For the value 10:
# X_scaled = (10 - 1) / (20 - 1) * (1 - (-1)) + (-1)
# = 9 / 19 * 2 - 1
# = -0.2632

# For the value 15:
# X_scaled = (15 - 1) / (20 - 1) * (1 - (-1)) + (-1)
# = 14 / 19 * 2 - 1
# = 0.2632

# For the value 20:
# X_scaled = (20 - 1) / (20 - 1) * (1 - (-1)) + (-1)
# = 19 / 19 * 2 - 1
# = 1

In [ ]:
#Ans8: