In [2]:
#Ans 1:
#For loop is use when we need to execute a data again and again and while loop also use in similar way for loop intialisation updation and test expression in one line but in while there is diiferent way .
def value():
    for i in range(10):
        print(i)

In [3]:
value()

0
1
2
3
4
5
6
7
8
9

In [6]:
#Example of while loop 
def value():
    i=0
    while i <10:
        print(i)
        i+=1

In [7]:
value()

0
1
2
3
4
5
6
7
8
9

In [12]:
#Ans 2:
def sum():
    count=0
    for i in range (11):
        count+=i
    print(count)

In [13]:
sum()

55

In [16]:
def product():
    count=1
    for i in range(1,11):
        count*=i
    print(count)

In [17]:
product()

3628800

In [18]:
def sum():
    count=0
    i=1
    while i<=10:
        count+=i
        i+=1
    print(count)

In [19]:
sum()

55

In [20]:
def product():
    count=1
    i=1
    while i<=10:
        count*=i
        i+=1
    print(count)

In [21]:
product()

3628800

In [22]:
#Ans 3:
def electricity_bill(units):
    if units <= 100:
        return units * 4.5
    elif units <= 200:
        return 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        return 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        return 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print(electricity_bill(310))

2250.0

In [23]:
#Ans 4:
def cube(n):
    return n*n*n

In [28]:
def prin():
    l=[]
    for i in range(1,100):
        n=cube(i)
        if n%4==0 or n%5==0:
            l.append(i)
    print(l)

In [29]:
prin()

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98]

In [38]:
#Ans5:
def count(string):
    vowels="aeiouAEIOU"
    count=0
    for char in string:
        if char in vowels:
            count+=1
    return count

In [ ]:
string = "I want to become a data scientist"

In [ ]:
count