In [1]:
#Ans1: Database is a system that stores the data and anyalsis them .
#In SQL the data is arranged in structure way but in NOSQL the data is not arranged in particular structure .

In [2]:
#ANS2: Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. 
#Create is used to create the table ,Drop is used to drop the data,ALTER is used to update the structure of the table in the database and Truncate is used to delete the data.

In [3]:
#Ans3: Data Manipulation Language which is used to manipulate data itself.Insert is ued to insert the data in the database,Update is ued to update the data structure,Delete is ued to delete the data .

In [4]:
#Ans5: A primary key is used to ensure data in the specific column is unique.A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [6]:
#Ans6:
import mysql.connector
mydb=mysql.connector.connect(
host="localhost",
user="abc",
password="password")
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("Show Data base")
for x in mycursor:
    print(x)
#cursor is point to each data in the table,execute means the data into the database

ModuleNotFoundError: No module named 'mysql'

In [7]:
#Ans7:
SELECT Customers.customer_id, Customers.first_name, Orders.amount, Orders.order_id
FROM Customers
JOIN Orders
ON Customers.customer_id = Orders.customer_id
WHERE Orders.order_id <=4
ORDER BY Orders.order_id ASC
LIMIT 2

SyntaxError: invalid syntax (1722576521.py, line 2)

In [8]:
SELECT first_name FROM Customers;

SyntaxError: invalid syntax (4133763382.py, line 1)